.main-cont-container {
  display: flex;
  gap: -25px !important; 
  margin: 1rem 0;
}

.main-cont-category {
  width: 25%;
}

.main-cont-company {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .main-cont-container {
    flex-direction: column;
  }
  .main-cont-category,
  .main-cont-company {
    width: 100%;
  }
}
